extends ../layout

block content
  p #[strong Name] #{location.name}
  p #[strong Description] #{location.description}
  p #[strong Type] #{location.location_type}
  p #[strong Parent Location] 
    a(href="/locations/"+location.parent_location_id) #{location.parent_location}
  
  a.btn.btn-primary(href="/locations/edit/"+location.id, role="button") Edit

  br
  br
  H6 Locations in this location
  div#child_locations 
    div.container
      div.row
        div.col-md-2
          strong Name
        div.col-md-4
          strong Description
        div.col-md-3
          strong Type
        div.col-md-1
          strong Quantity
        div.col-md-1
          strong Locations
      each n in child_locations
        div.row 
          div.col-md-2
            a(href="/locations/"+n.id) #{n.name}
          div.col-md-4=n.description
          div.col-md-3=n.location_type
          div.col-md-1=n.num_items
          div.col-md-1=n.num_child_locations

  br
  br
  H6 Inventory at this location
  div#child_locations 
    div.container
      div.row
        div.col-md-2
          strong Name
        div.col-md-4
          strong Description
        div.col-md-3
          strong Manufacturer
        div.col-md-2
          strong Quantity
      each n in inventories
        div.row 
          div.col-md-2
            a(href="/inventory/"+n.id) #{n.full_number}
          div.col-md-4=n.description
          div.col-md-3=n.name
          div.col-md-2=n.quantity

block scripts
  script(type="text/javascript").
    $( document ).ready(function() {
      $("#location").addClass("active");
    });
