extends layout

block navigation
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="/") Lab
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div.collapse.navbar-collapse(id="navbarNav")
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='/chips' active) Chip Master File 
            span(class="sr-only") *
        li.nav-item
          a.nav-link(href='/inventory') Chip Inventory 
        li.nav-item
          a.nav-link(href='/projects') My Projects 

block content
  p This is a searchable list of all the chip types in this database.
  div.searchdiv
    form.searchbox()
      INPUT.mb-3(TYPE="text" NAME="q" VALUE=searched SIZE="20" MAXLENGTH="32")
      div.form-check.form-check-inline
        INPUT.form-check-input(TYPE="radio" NAME="w" VALUE="p" id="part" checked=part_search) 
        label.form-check-label(for="part") Part number
      div.form-check.form-check-inline
        INPUT.form-check-input(TYPE="radio" NAME="w" VALUE="k" id="keyword" checked=key_search) 
        label.form-check-label(for="keyword") Keyword
      INPUT.btn.btn-primary.mb-3(TYPE="submit" VALUE="Search")
  
  table.table.table-striped
    tr
      th Number
      th Family
      th Package
      th Pins
      th Description

    each n in chips
      tr
        td 
          a(href="/chips/"+n.id) #{n.chip_number}
        td= n.family
        td= n.package
        td= n.pin_count
        td !{n.description}

    if chips.length == 0
      tr
        td(span=5) No chips found &nbsp;
          input.btn.btn-primary(Type="submit" value="New Chip")