extends layout

block navigation
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    div.container-fluid
      a.navbar-brand(href="/") My Lab
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse(id="navbarNav")
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(href='/chips') Chip Master File 
          li.nav-item
            a.nav-link(href='/inventory') Chip Inventory 
          li.nav-item
            a.nav-link(href='/projects') My Projects 
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Settings
            ul.dropdown-menu
              li
                a.dropdown-item(href="/manufcaturers/") Manufacturers
              li
                a.dropdown-item(href="#") Another action
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href="#") Something else here

block content
  h3 !{chip.description}
  if (aliases.length) 
  - var sep = ''
    p #[strong Aliases] 
      each alias in aliases
        = sep + alias.alias_chip_number 
        - sep = ', '

  p #[strong Package] #{chip.package}
  p #[strong Pin Count] #{chip.pin_count}
  if chip.datasheet
    p 
      a(target='_blank' href= chip.datasheet) Datasheet PDF

  a.btn.btn-primary(href="/inventory/inventorynew/"+chip.id, role="button") Add Inventory

  if (inventory.length)
    div(id='inventory')
      h4 Available Chips
      table.available 
        tr 
          th Chip Number 
          th Manufacturer
          th Quantity 

        each n in inventory 
          tr 
            td
              a(href="/inventory/" + n.id target="_blank") #{n.full_number}
            td= n.mfg_code+' ('+n.name+')'
            td= n.quantity 
  else
    br

  div(id=iswide)
    table.pindiagram
      tr
        th(class="leftpinsym") &nbsp;
        th(class="lefttoppinnum") &nbsp;
        th(class="righttoppinnum") &nbsp;
        th(class="rightpinsym") &nbsp;

      each n, index in layout_pins
        tr
          td(class="leftpinsym") !{n.left_sym}
          td(class="leftpinnum") #{n.left_pin} !{n.bull}
          td(class="rightpinnum") #{n.right_pin}
          td(class="rightpinsym") !{n.right_sym}

      tr
        td(class="leftpinsym") &nbsp;
        td(class="leftbottompinnum") &nbsp;
        td(class="rightbottompinnum") &nbsp;
        td(class="rightpinsym") &nbsp;

  div(id='dpintable')
    table.pintable
      tr
        th(style="min-width:50px;") Pin
        th(style="min-width:100px;") Symbol
        th(style="min-width:250px;") Description

      each n in pins
        tr
          td= n.pin_number
          td !{n.pin_symbol}
          td !{n.pin_description}

  if (specs.length)
    div(id='dspecs')
      h3 Specifications
      span.spcaption (typical values under recommended operating conditions, unless specified)
      table.specstable
        tr
          th(style="min-width:300px;") Parameter
          th Value
          th(style="min-width:70px;") Unit

        each n in specs
          tr
            td !{n.parameter}
            td(style="text-align:right;") !{n.value}
            td !{n.unit}

  if (notes.length)
    br
    div(id='notes')
      h3 Notes
      ul
        each n in notes
          li !{n.note}
