extends layout

block content
  p Welcome to #{title}
  table.table.table-striped
    tr
      th Number
      th Family
      th Package
      th Pins
      th Description

    each n in chips
      tr
        td 
          a(href="/chips/"+n.id) #{n.chip_number}
        td= n.family
        td= n.package
        td= n.pin_count
        td= n.description