extends layout

block navigation
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    div.container-fluid
      a.navbar-brand(href="/") My Lab
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href='/chips') Chip Master File 
          li.nav-item
            a.nav-link(href='/inventory') Chip Inventory 
          li.nav-item
            a.nav-link(href='/projects') My Projects 
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Settings
            ul.dropdown-menu
              li
                a.dropdown-item(href="/manufacturers/") Manufacturers
              li
                a.dropdown-item(href="#") Another action
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href="#") Something else here

block content
  p This is my hardware development lab management system

  div.row 
    div.col-sm-3
      div.card.text-center.mb-3
        h5.card-header Definitions
        div.card-body
          p.card-title Chip Definitions
          p.card-text= data.chips+data.aliases

    div.col-sm-3 
      div.card.text-center.mb-3
        h5.card-header On Hand
        div.card-body
          p.card-title Chips On Hand
          p.card-text= data.on_hand

    div.col-sm-3 
      div.card.text-center.mb-3
        h5.card-header Date Range
        div.card-body
          p.card-title Chip Dates
          p.card-text Oldest: #{data.min_date}
          p.card-text Newest: #{data.max_date}

    div.col-sm-3 
      div.card.text-center.mb-3
        h5.card-header Manufacturers
        div.card-body
          p.card-title Manufacturer Counts
          p.card-text Manufacturers: #{data.mfgs}
          p.card-text Codes: #{data.codes}
