extends layout

block navigation
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="/") Lab
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div.collapse.navbar-collapse(id="navbarNav")
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='/chips') Chip Master File 
        li.nav-item
          a.nav-link(href='/inventory' active) Chip Inventory 
            span(class="sr-only") *
        li.nav-item
          a.nav-link(href='/projects') My Projects 

block content
  h3= inventory.description
  p= inventory.full_number + ' - ' + inventory.chip_number
  p Manufacture: #{inventory.name}
  table
    tr
      th Date Code
      th Quantity

    each n in inventory_dates
      tr
        td= n.date_code
        td= n.quantity

    tr
      td Total
      td= inventory.quantity