extends layout

block navigation
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    div.container-fluid
      a.navbar-brand(href="/") My Lab
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse(id="navbarNav")
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href='/chips') Chip Master File 
          li.nav-item
            a.nav-link.active(href='/inventory') Chip Inventory 
          li.nav-item
            a.nav-link(href='/projects') My Projects 
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Settings
            ul.dropdown-menu
              li
                a.dropdown-item(href="/manufacturers/") Manufacturers
              li
                a.dropdown-item(href="#") Another action
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href="#") Something else here

block content
  h3 Current Inventory
  table.table.table-striped
    tr
      th Base
      th Number
      th Manufacturer
      th Quantity
      th Description

    each n in inventory
      tr
        td 
          a(href="/chips/"+n.chip_id target='_blank') #{n.chip_number}
        td
          a(href="/inventory/"+n.id) #{n.full_number}
        td= n.mfg_code+' ('+n.name+')'
        td= n.quantity
        td= n.description

    if inventory.length == 0
      tr
        td(span=5) No inventory found &nbsp;
  
  a.btn.btn-primary(href="/inventory/inventorynew/", role="button") New Inventory