extends layout

block content
  h1= title
  h3 Current Inventory
  table
    tr
      th Number
      th Family
      th Quantity
      th Description

    each n in inventory
      tr
        td
          a(href="/inventory/"+n.id) #{n.full_number}
        td 
          a(href="/chips/"+n.chip_id target='_blank') #{n.chip_number}
        td= n.quantity
        td= n.description