extends ../layout

block navigation
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    div.container-fluid
      a.navbar-brand(href="/") My Lab
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href='/chips') Chip Master File 
          li.nav-item
            a.nav-link.active(href='/inventory') Chip Inventory 
          li.nav-item
            a.nav-link(href='/projects') My Projects 
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Settings
            ul.dropdown-menu
              li
                a.dropdown-item(href="/manufacturers/") Manufacturers
              li
                a.dropdown-item(href="#") Another action
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href="#") Something else here

block content
  h3= inventory.description
  p= inventory.full_number + ' - ' + inventory.chip_number
  p Manufacture: #{inventory.mfg_code + ' (' + inventory.name + ')'}
  table
    tr
      th Date Code
      th Quantity

    each n in inventory_dates
      tr
        td= n.date_code
        td= n.quantity

    tr
      td Total
      td= inventory.quantity

  a.btn.btn-primary(href="/inventory/" + inventory.id + "/newdate", role="button") Add Date Code