extends ../layout

block content
  p Edit the #{data.component_name} defintion
  form(action="/"+data.table_name+"/"+data.component_id method="POST")
    div.row.mb-3
      label.col-sm-2.col-form-label(for="chip_number") Component Number:
      input#chip_number.col-sm-4( type="text" placeholder="Ex) 7425" name="chip_number" value=data.chip_number)
    div.row.mb-3
      label.col-sm-2.col-form-label( for="aliases") Aliases:
      input#aliases.col-sm-10(type="text" placeholder="Ex) 74HTC25, 74LS25" name="aliases" value=data.aliases)
    div.row.mb-3
      label.col-sm-2.col-form-label( for="description") Description:
      input#description.col-sm-10(type="text" placeholder="Summary of what the chip does" name="description" value=data.description)
    div.row.mb-3
      label.col-sm-2.col-form-label( for="component_sub_type_id") #{data.component_name} Type:
      select#component_sub_type_id.col-sm-4(type='select' placeholder='Select Component type' name='component_sub_type_id' required='true')
        for component_sub_type in component_sub_types
          option(value=component_sub_type.id selected= data.component_sub_type_id == component_sub_type.id) #{component_sub_type.name} - #{component_sub_type.description}
    div.row.mb-3
      label.col-sm-2.col-form-label( for="package_type_id") Package:
      select#package_type_id.col-sm-4(type='select' placeholder='Select package type' name='package_type_id' required='true')
        for package_type in package_types
          option(value=package_type.id selected= data.package_type_id == package_type.id) #{package_type.name} - #{package_type.description}
    div.row.mb-3
      label.col-sm-2.col-form-label( for="pin_count") Pin Count:
      input#pin_count.col-sm-2.form-control-inline(type="text" placeholder="Ex) 14,18, 20" name="pin_count" value=data.pin_count)

    block component_specific

    div.row.mb-3
      label.col-sm-2.col-form-label( for="datasheet") Datasheet:
      input#datasheet.col-sm-10(type="text" placeholder="URL to datasheet" name="datasheet" value=data.datasheet)
    br
    h4 Pins 
    - var n = 0
    - while (n < data.pin_count)
      div.row.mb-3 
        input(type="hidden" id="pin_id_"+n name="pin_id_"+n value=data.pin_id[n])
        div.col-sm-2 
          input.form-control(type="text" id="pin_"+n name="pin_"+n value=(n+1))
        div.col-sm-2 
          input.form-control(type="text" id="sym_"+n name="sym_"+n placeholder="Symbol" value=data.sym[n])
        div.col-sm-6 
          input.form-control(type="text" id="descr_"+n name="descr_"+n placeholder="Description" value=data.descr[n])

      - n++

    button.btn.btn-default.btn-primary(type="submit") Submit
    br

block scripts
  script(type="text/javascript").
    $( document ).ready(function() {
      $("#cmf").addClass("active");
      $("#chip_number").focus();
    });
