extends ../layout

block content
  p This is a searchable list of all the component types in this database.
  div.searchdiv.form-inline
    form.form-inline.searchbox()
      div.form-check-inline
        label( for="component_type_id") Component Type: &nbsp;
        select.form-inline#component_type_id(type='select' placeholder='Select component type' name='component_type_id' required='true')
          option(value=0) All Components
          for component_type in component_types
            option(value=component_type.id selected= component_type_id == component_type.id) #{component_type.description}
        INPUT(type="search" placeholder="Search" aria-label="Search" NAME="q" VALUE=searched SIZE="20" MAXLENGTH="32")
        div.form-check.form-check-inline
          INPUT.form-check-input(TYPE="radio" NAME="w" VALUE="p" id="part" checked=part_search) 
          label.form-check-label(for="part") Part number
        div.form-check.form-check-inline
          INPUT.form-check-input(TYPE="radio" NAME="w" VALUE="k" id="keyword" checked=key_search) 
          label.form-check-label(for="keyword") Keyword
        INPUT.btn.btn-primary.mb-3(TYPE="submit" VALUE="Search")
  
  div 
    button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#newCompnentModal") New Component

  table.table.table-striped
    tr
      th Number
      th Family
      th Type
      th Package
      th Pins
      th Description
      th On Hand

    each n in chips
      tr
        td 
          a(href="/"+n.table_name+"/"+n.id) #{n.chip_number}
        td= n.family
        td= n.component
        td= n.package
        td= n.pin_count
        td !{n.description}
        td= n.on_hand

    if chips.length == 0
      tr
        td(span=5) No components found &nbsp;


  //- New Component Modal
  div#newCompnentModal.modal.fade(tabindex="-1" aria-labelledby="newCompnentModalLabel" aria-hidden="true")
    div.modal-dialog.modal-dialog-scrollable
      div.modal-content
        form(action="/components/new" method="POST")
          div.modal-header
            h5#newCompnentModalLabel.modal-title Add a Component
            button.btn-close(type="button"  data-bs-dismiss="modal" aria-label="Close")
          div.modal-body
              div.row
                div.col-md-12.ms-auto 
                  label( for="new_component") Choose Component Type
              div.row
                div.col-md-12.ms-auto 
                  select#new_component(type='select' placeholder='Select component type' name='new_component')
                    option(value=0) ---
                    for component_type in component_types
                      option(value=component_type.id selected= component_type_id == component_type.id) #{component_type.description}

          div.modal-footer
            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
            button.btn.btn-primary(type="submit" ) Add
  
block scripts
  script(type="text/javascript").
    $( document ).ready(function() {
      $("#cmf").addClass("active");
    });
