extends ../component/detail

block component_specific
  p #[strong Forward Voltage] #{data.forward_voltage}#{data.forward_units}
  p #[strong Reverse Voltage] #{data.reverse_voltage}#{data.reverse_units}
  if (data.component_sub_type_id == '66')
    p #[strong Light Color] #{data.light_color}
    p #[strong Lens Color] #{data.lens_color}
