extends ../component/new

block component_specific
    div.form-group
      label( for="rating") Rating:
      div.input-group
        input#rating.form-control(type="text" placeholder="Ex) 220, 1000" name="rating" value=data.rating)
        select#rating_unit_id.form-control(type='select' placeholder='Select units' name='rating_unit_id' required='true')
            for unit in rating_units
                option(value=unit.id selected= data.rating_unit_id == unit.id) !{unit.name} - #{unit.description}
    div.form-group
      label( for="voltage") Voltage:
      div.input-group
        input#voltage.form-control(type="text" placeholder="Ex) 220, 1000" name="voltage" value=data.voltage)
        select#voltage_unit_id.form-control(type='select' placeholder='Select units' name='voltage_unit_id' required='true')
            for unit in voltage_units
                option(value=unit.id selected= data.voltage_unit_id == unit.id) !{unit.name} - #{unit.description}
