extends ../layout

block content
  p Edit the Capacitor defintion
  form(action="/capacitors/"+data.component_id method="POST")
    input#pin_count(type="hidden" name="pin_count" value=data.pin_count)
    div.form-group
      label(for="chip_number") Capacitor Number:
      input#chip_number.form-control( type="text" placeholder="Ex) 7425" name="chip_number" value=data.chip_number)
    div.form-group
      label( for="aliases") Aliases:
      input#aliases.form-control(type="text" placeholder="Ex) 74HTC25, 74LS25" name="aliases" value=data.aliases)
    div.form-group
      label( for="description") Description:
      input#description.form-control(type="text" placeholder="Summary of what the chip does" name="description" value=data.description)
    div.form-group
      label( for="component_sub_type_id") Type:
      select#component_sub_type_id.form-control(type='select' placeholder='Select Component type' name='component_sub_type_id' required='true')
        for component_sub_type in component_sub_types
          option(value=component_sub_type.id selected= data.component_sub_type_id == component_sub_type.id) #{component_sub_type.name}
    div.form-group
      label( for="package_type_id") Package:
      select#package_type_id.form-control(type='select' placeholder='Select package type' name='package_type_id' required='true')
        for package_type in package_types
          option(value=package_type.id selected= data.package_type_id == package_type.id) #{package_type.name}
    div.form-group
      label( for="capacitance") Capacitance:
      div.input-group
        input#capacitance.form-control(type="text" placeholder="Ex) 220, 1000" name="capacitance" value=data.capacitance)
        select#unit_id.form-control(type='select' placeholder='Select units' name='unit_id' required='true')
            for unit in unit_list
                option(value=unit.id selected= data.unit_id == unit.id) !{unit.name} - #{unit.description}
    div.form-group
      label( for="tolerance") Tolerance %:
      input#tolerance.form-control(type="text" placeholder="Ex) 0.5. 1. 10 " name="tolerance" value=data.tolerance)
    div.form-group
      label( for="working_voltage") Working Voltage V:
      input#working_voltage.form-control(type="text" placeholder="Ex) 0.25" name="working_voltage" value=data.working_voltage)
    div.form-group
      label( for="datasheet") Datasheet:
      input#datasheet.form-control(type="text" placeholder="URL to datasheet" name="datasheet" value=data.datasheet)
    br
    h4 Pins 
    - var n = 0
    - while (n < data.pin_count)
      div.row 
        input(type="hidden" id="pin_id_"+n name="pin_id_"+n value=data.pin_id[n])
        div.col 
          input.form-control(type="text" id="pin_"+n name="pin_"+n value=(n+1))
        div.col 
          input.form-control(type="text" id="sym_"+n name="sym_"+n placeholder="Symbol" value=data.sym[n])
        div.col 
          input.form-control(type="text" id="descr_"+n name="descr_"+n placeholder="Description" value=data.descr[n])

      - n++

    button.btn.btn-default.btn-primary(type="submit") Submit

block scripts
  script(type="text/javascript").
    $( document ).ready(function() {
      $("#cmf").addClass("active");
    });
