extends ../component/new

block component_specific
    div.form-group
      label( for="capacitance") Capacitance:
      div.input-group
        input#capacitance.form-control(type="text" placeholder="Ex) 220, 1000" name="capacitance" value=data.capacitance)
        select#unit_id.form-control(type='select' placeholder='Select units' name='unit_id' required='true')
            for unit in unit_list
                option(value=unit.id selected= data.unit_id == unit.id) !{unit.name} - #{unit.description}
    div.form-group
      label( for="tolerance") Tolerance %:
      input#tolerance.form-control(type="text" placeholder="Ex) 0.5. 1. 10 " name="tolerance" value=data.tolerance)
    div.form-group
      label( for="working_voltage") Working Voltage V:
      input#working_voltage.form-control(type="text" placeholder="Ex) 0.25" name="working_voltage" value=data.working_voltage)
