extends ../component/edit

block component_specific
    div.form-group
      label( for="resistance") Resistance:
      div.input-group
        input#resistance.form-control(type="text" placeholder="Ex) 220, 1000" name="resistance" value=data.resistance)
        select#unit_id.form-control(type='select' placeholder='Select units' name='unit_id' required='true')
            for unit in unit_list
                option(value=unit.id selected= data.unit_id == unit.id) !{unit.name} - #{unit.description}
    div.form-group
      label( for="tolerance") Tolerance %:
      input#tolerance.form-control(type="text" placeholder="Ex) 0.5. 1. 10 " name="tolerance" value=data.tolerance)
    div.form-group
      label( for="power") Power W:
      input#power.form-control(type="text" placeholder="Ex) 0.25" name="power" value=data.power)
